<div class="movies">
    <header>
      <h1>Explore Movies</h1>
      <a routerLink="/" class="button">Home</a>
    </header>
    <main>
      <section class="movie-list">
        <div class="movie-card">
          <img src="assets/images/movie4.jpg" alt="Movie 4 Poster">
          <h2>IRON MAN 2</h2>
          <p>Genre: Action</p>
          <a routerLink="/booking" class="button">Book Now</a>
        </div>
        <div class="movie-card">
          <img src="assets/images/movie5.jpg" alt="Movie 5 Poster">
          <h2>HALLOWEEN</h2>
          <p>Genre: Horror</p>
          <a routerLink="/booking" class="button">Book Now</a>
        </div>
        <div class="movie-card">
          <img src="assets/images/movie6.jpg" alt="Movie 6 Poster">
          <h2>SCREAM</h2>
          <p>DGenre: Horror</p>
          <a routerLink="/booking" class="button">Book Now</a>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Movie Booking System</p>
    </footer>
  </div>
  